@use "sass:color";

:root {
  --bg-color: #121212;
  --accent-color: #ff6f00;
  --shaded-color: rgba(255, 255, 255, 0.1);
  --text-color: #ffffff;
  --played-color: #4caf50;
  color-scheme: dark light;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #eeeeee;
    --accent-color: #ff8c00;
    --shaded-color: rgba(0, 0, 0, 0.1);
    --text-color: #000000;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.4;
  overflow: clip;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  height: 90vh;
  min-width: 60vw;
  max-width: 80vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  flex-grow: 1;
}

#addFeed {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#addFeed input[type="text"] {
  background: var(--shaded-color);
  border: 2px solid var(--accent-color);
  color: var(--text-color);
  padding: 8px;
  border-radius: 5px;
  width: 70%;
  margin-right: 10px;
}

#addFeed button {
  background: var(--accent-color);
  color: var(--bg-color);
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#addFeed button:hover {
  background: var(--text-color);
  color: var(--accent-color);
}

#feedControls {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#feedSelector {
  padding: 8px;
  border-radius: 5px;
  background: var(--shaded-color);
  color: var(--text-color);
  margin-right: 10px;
  width: calc(100% - 120px);
  border: 2px solid var(--accent-color);
}

#feedSelector option {
  background: var(--bg-color);
  color: var(--text-color);
}

#feedSelector option:hover {
  background: var(--accent-color);
  color: var(--bg-color);
}

#feedSelector option:checked {
  background: var(--bg-color);
  color: var(--accent-color);
}

#feedControls button {
  background: var(--accent-color);
  color: var(--bg-color);
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#feedControls button:hover {
  background: var(--text-color);
  color: var(--accent-color);
}

#episodesList {
  overflow-y: scroll;
  background: var(--shaded-color);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid var(--accent-color);
  flex-basis: 0;
  flex-grow: 1;

  div {
    padding: 8px;
    margin-bottom: 8px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    transition: background 0.3s ease;
    display: grid;
    grid-template-columns: 0.05fr 0.15fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;

    &:hover {
      background: var(--shaded-color);
    }

    a {
      color: var(--accent-color);
      cursor: pointer;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }

    .playedIcon::before {
      content: "\a0";
    }

    &.played {
      color: color.scale($color: #fff, $lightness: -50%);
      a {
        color: color.scale($color: #ff8c00, $lightness: -50%);
      }

      .playedIcon:before {
        content: "✔";
      }
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: var(--bg-color);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 4px;

    &:hover {
      background: #ff8c00;
    }
  }
}

.playedIcon {
  color: var(--played-color);
}

#audioWidget {
  width: 100%;
  margin-top: 10px;
  background: transparent;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.4fr 0.1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: left;
  grid-gap: 10%;
  @media (max-width: 800px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5%;
  }
}

.iconButton {
  background-color: transparent;
  border: 2px solid var(--accent-color);
  border-radius: 1.5rem;
  color: var(--accent-color);
  padding: 0;
  margin: 0;
  width: 3rem;
  height: 3rem;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: var(--shaded-color);
  }

  & > svg {
    width: 1.6rem;
    height: 1.6rem;
  }
}

.playerControls {
  display: flex;
}

#waveform {
  width: 100%;
  height: 5rem;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}

#progress {
  background-color: var(--shaded-color);
  position: absolute;
  left: 0;
  top: 0;
  width: 105%;
  height: 5rem;
  border-right: 2px solid var(--accent-color);
}

.waveformContainer {
  position: relative;
  height: 5rem;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  overflow: hidden;
}

#volume {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  border-radius: 5px;
  background: var(--shaded-color);
  outline: 2px solid var(--accent-color);
  margin-left: 10px;
  margin-top: 10px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--accent-color);
    cursor: pointer; /* Cursor on hover */
    border-radius: 25px;
    border: none;
    outline: none;
  }

  &::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--accent-color);
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
  }
}

#loading-wheel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loading {
  display: inline-block;
  width: 40px;
  aspect-ratio: 1;
  border: 3px solid var(--shaded-color);
  border-radius: 50%;
  border-top-color: var(--accent-color);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

svg {
  fill: currentColor;
}

.autoPlayContainer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.autoPlayContainer label {
  position: relative;
  align-items: center;
  justify-content: center;
}

#autoPlay {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 8px;
}

#autoPlayInput[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: var(--shaded-color);
  outline: 2px solid var(--accent-color);
  cursor: pointer;
  margin-left: 10px;

  &:checked ~ #autoPlayIcon path {
    fill: var(--accent-color);
  }

  #autoPlayIcon {
    transition: fill 0.3s ease;
    position: relative;
    width: 38px;
    left: -28px;
    top: -6px;
    z-index: -1;

    path {
      fill: transparent;
    }
  }
}
